body {
    width: 100vw;
    max-width: 1360px;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    max-width: 1110px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    padding-top: 60px;
    padding-bottom: 96px;
}

.logo {
    width: 91px;
    height: 20px;
}

.logo__img {
    height: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__item {
    padding-left: 30px;
}

.text_top {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text_top--left {
    max-width: 635px;
}

.text_top--left_p1 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;
    color: #4A4FF2;
    margin-bottom: 32px;
}

.text_top--left_p2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #111111;
    margin-top: 0;
}

.text_top--left_p2_span {
    color: #4A4FF2;
}

.text_top--right {
    max-width: 207px;
    text-align: right;
    opacity: 0.6;
    padding-right: 50px;
}

.text_top--right_p {
    margin-top: 9px;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
}

.grid_container {
    max-width: 1110px;
    width: 100%;
    height: 1960px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: auto;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    justify-content: space-between;
    margin-top: 144px;
}

.grid_img1 {
    grid-area: 1 / 1 / 8 / 4;
}

.grid_img2 {
    grid-area: 8 / 1 / span 8 / span 3;
}

.grid_img3 {
    grid-area: 16 / 1 / span 8 / span 3;
}

.grid_img4 {
    grid-area: 24 / 1 / span 8 / span 3;
}

.grid_img5 {
    grid-area: 1 / 4 / span 6 / span 3;
}

.grid_img6 {
    grid-area: 7 / 4 / span 7 / span 3;
}

.grid_img7 {
    grid-area: 14 / 4 / span 9 / span 3;
}

.grid_img8 {
    grid-area: 23 / 4 / span 10 / span 3;
}

.grid_img9 {
    grid-area: 1 / 7 / span 10 / span 3;
}

.grid_img10 {
    grid-area: 11 / 7 / span 7 / span 3;
}

.grid_img11 {
    grid-area: 18 / 7 / span 9 / span 3;
}

.grid_img12 {
    grid-area: 27 / 7 /span 6 / span 3;
}

.text_middle {
    max-width: 1079px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text_middle_left {
    width: 635px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}