body {
    width: 100vw;
    max-width: 1360px;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    max-width: 1110px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    padding-top: 60px;
    padding-bottom: 96px;
}

.logo {
    width: 91px;
    height: 20px;
}

.logo__img {
    height: auto;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__item {
    padding-left: 30px;
}

.nav__item--link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: #111111;
}

.nav__item--link:hover {
    color: #4A4FF2;
    font-size: 20px;
}

.text_top {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text_top--left {
    max-width: 635px;
}

.text_top--left_p1 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;
    color: #4A4FF2;
    margin-bottom: 32px;
}

.text_top--left_p2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #111111;
    margin-top: 0;
}

.text_top--left_p2_span {
    color: #4A4FF2;
}

.text_top--right {
    max-width: 207px;
    text-align: right;
    opacity: 0.6;
    padding-right: 50px;
}

.text_top--right_p {
    margin-top: 9px;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
}

.grid_container {
    max-width: 1110px;
    width: 100%;
    height: 1960px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: auto;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    justify-content: space-between;
    margin-top: 144px;
}

.grid_img1 {
    grid-area: 1 / 1 / 8 / 4;
}

.grid_img2 {
    grid-area: 8 / 1 / span 8 / span 3;
}

.grid_img3 {
    grid-area: 16 / 1 / span 8 / span 3;
}

.grid_img4 {
    grid-area: 24 / 1 / span 8 / span 3;
}

.grid_img5 {
    grid-area: 1 / 4 / span 6 / span 3;
}

.grid_img6 {
    grid-area: 7 / 4 / span 7 / span 3;
}

.grid_img7 {
    grid-area: 14 / 4 / span 9 / span 3;
}

.grid_img8 {
    grid-area: 23 / 4 / span 10 / span 3;
}

.grid_img9 {
    grid-area: 1 / 7 / span 10 / span 3;
}

.grid_img10 {
    grid-area: 11 / 7 / span 7 / span 3;
}

.grid_img11 {
    grid-area: 18 / 7 / span 9 / span 3;
}

.grid_img12 {
    grid-area: 27 / 7 /span 6 / span 3;
}

.text_middle {
    max-width: 1110px;
    width: 100%;
    padding-top: 91px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D8D8D8;
}

.text_middle_left {
    width: 635px;
}

.text_middle_left p {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
    margin-top: 0;
}

.text_middle_mid {
    width: 150px;
}

.text_middle_p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 0;
}

.text_middle_right {
    width: 130px;
}

.bottom_text_block {
    max-width: 1110px;
    width: 100%;
    padding-top: 51px;
    padding-bottom: 60px;
    border-bottom: 2px solid #D8D8D8;
}

.bottom_text_block__upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bottom_text_block--column1 {
    text-align: left;
    width: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #111111;
    margin-top: 0;
}

.bottom_text_block--right {
    display: flex;
    justify-content: space-between;
}

.bottom_text_block--column2 {
    text-align: left;
    margin-top: 0;
    width: 145px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    padding-right: 160px;
}

.bottom_text_block--column3 {
    text-align: left;
    width: 190px;
    padding-right: 120px;
}

.bottom_text_block--column3 h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    margin-top: 0;
}

.bottom_text_block--column3 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.bottom_text_block--column4 {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #111111;
    margin-top: 0;
}

.bottom_text_block__bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 80px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    padding-top: 118px;
    padding-bottom: 51px;
}

.some_logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    padding-left: 95px;
}

svg:hover {
    transform: scale(1.1);
    fill: #4A4FF2;
} /*doesn't work and don't know how to do it. tried a lot of different ways*/